@import 'functions.scss', 'variables.scss', 'mixins.scss';
@import '../assets/fontawesome-free/scss/fontawesome.scss';

body {
    font-family: 'Lato', 'Roboto', 'Open Sans';
    margin: 0px;
    padding: 0px;
}

#hero {
    background: url($background-url);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

    .nav-bar {
        background: $primary;
        width: 100%;
        height: 20px;
        padding: 25px 0px 25px 0px;
        position: fixed;
        z-index: 5;

        .nav-bar--menu {
            margin: 0px;
            padding: 0px;
            display: flex;
            justify-content: center;

            .nav-menu--item {
                font-weight: 600;
                text-transform: uppercase;
                list-style: none;
                padding: 0px 20px;
                a {
                    color: text-color($primary);
                    text-decoration: none;
                }
            }
        }
    }

    .hero-content {
        color: text-color($background-color);
        position: relative;
        top: 45vh;
        text-align: center;

        h1 {
            margin: 0px;
            text-transform: uppercase;
            font-size: 3rem;
        }

        .hero-btn {
            text-decoration: none;
            border: solid 2px;
            padding: 5px 20px;
            color: #fff;

            &:hover {
                @include globalTransition;
                background: white;
                color: black;
                border: none;
            }
        }
    }
}

#content {
    height: $content-height;
    background: $background-color;
    text-align: center;
    padding: 0px 80px;
    color: text-color($background-color);

    .content-header {
        padding: 50px 0px 50px 0px;
        margin: 0px;
        font-size: 2rem;
    }

    .content-grid {
        margin: 0px;
        display: grid;
        grid-template-columns: repeat($cols, 1fr);
        grid-template-rows: 350px;
        grid-gap: 25px;

        .content-grid-col {
            color: black;
            border-radius: 8px;
            padding: 55px 15px;
            background: white;
            i {
                font-size: 5rem;
            }
            &:hover{
                @include globalTransition;
                box-shadow: 2px 15px 25px 10px #131313;
                i {
                    @include iconTransition;
                    font-size: 5.5em;
                }
            }
        }
    }

}

@media screen and (max-width: 800px){
    #content {
        height: 900px;
        .content-grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 350px 350px;
        }
    }
}